<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>杨居居图书馆</title>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div class="container">
    <form class="form-horizontal col-md-offset-4 col-md-4 box-shadow" id="login_form">
        <h3 class="form-title text-center">杨居居图书馆</h3>
        <div class="input-group" style="margin-top: 10%">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
                <input type="text" class="form-control" placeholder="请输入用户名">
        </div>
        <div class="input-group" style="margin-top: 10%">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="text" class="form-control" placeholder="请输入密码">
        </div>
        <div class="form-group" style="margin-top: 15%">
            <input class="btn btn-success col-md-2 col-md-offset-1" type="button" value="登录" >
            <input class="btn btn-pink col-md-2 col-md-offset-6" type="button" value="注册">
        </div>
    </form>
</div>
</body>
</html>