<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>杨居居图书馆</title>
    <script src="../static/dist/js/jquery-3.5.1.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="Bookmark" type="image/png" href="../static/img/ico.ico"/>
    <link rel="Shortcut Icon" href="../static/img/ico.ico" type="image/x-icon"/>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" id="loginModal" aria-hidden="true" data-backdrop="static">
    <div class="container">
        <form class="form-horizontal col-md-offset-4 col-md-4 box-shadow" id="login_form">
            <div class="input-group" style="margin-top: 6%">
                <img src="../static/img/login-title.png" alt="" class="img-responsive">
            </div>
            <div class="input-group" style="margin-top: 6%">
                <span class="input-group-addon glyphicon glyphicon-user positionStatic"></span>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username">
            </div>
            <div class="input-group" style="margin-top: 10%">
                <span class="input-group-addon glyphicon glyphicon-lock positionStatic"></span>
                <input type="password" class="form-control" placeholder="请输入密码" name="password">
            </div>
            <div class="form-group" style="margin-top: 10%;margin-bottom: 10%">
                <input class="btn btn-success col-md-2 col-md-offset-1" type="button" value="登录">
                <input class="btn btn-pink col-md-2 col-md-offset-6" type="button" id="register" value="注册">
            </div>
        </form>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="registerModal" aria-hidden="true" data-backdrop="static">
    <div class="container">
        <form class="form-horizontal col-md-offset-4 col-md-4 box-shadow" id="register_form">
            <div class="input-group" style="margin-top: 6%">
                <img src="../static/img/login-title.png" alt="" class="img-responsive">
            </div>
            <div class="input-group" style="margin-top: 6%">
                <span class="input-group-addon glyphicon glyphicon-user positionStatic"></span>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username">
            </div>
            <div class="input-group" style="margin-top: 10%">
                <span class="input-group-addon glyphicon glyphicon-lock positionStatic"></span>
                <input type="password" class="form-control" placeholder="请输入密码" name="password">
                <input type="text" class="form-control" placeholder="请输入密码" name="passwordOpen">
            </div>
            <div class="input-group" style="margin-top: 10%">
                <span class="input-group-addon glyphicon glyphicon-ok positionStatic"></span>
                <input type="password" class="form-control" placeholder="请确认密码" name="confirmPassword">
                <input type="text" class="form-control" placeholder="请确认密码" name="confirmPasswordOpen">
                <span class="input-group-addon glyphicon glyphicon-eye-open positionStatic"></span>
                <span class="input-group-addon glyphicon glyphicon-eye-close positionStatic"></span>
            </div>
            <div class="input-group" style="margin-top: 10%">
                <span class="input-group-addon glyphicon glyphicon-heart positionStatic"></span>
                <input type="text" class="form-control" placeholder="请输入昵称" name="nickname">
            </div>
            <div class="form-group" style="margin-top: 10%;margin-bottom: 10%">
                <input class="btn btn-pink col-md-offset-4 col-md-4" type="button" id="register_submit" value="注册">
            </div>
        </form>
    </div>
</div>
</body>
</html>